<div class="user-profile">
  <div class="avatar-container">
    <img [src]="user.avatar" alt="Avatar" class="avatar">
    <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;" #fileInput>
    <button mat-fab class="edit-avatar-button" color="secondary" aria-label="Edit avatar"  (click)="fileInput.click()">
        <mat-icon>edit</mat-icon>
    </button>
</div>
  <div class="details-container">
      <div class="detail-item">
          <strong>Name:</strong> {{ user.name }}
      </div>
      <div class="detail-item">
          <strong>Surname:</strong> {{ user.surname }}
      </div>
      <div class="detail-item">
          <strong>City:</strong> {{ user.city }}
      </div>
      <div class="detail-item">
          <strong>Username:</strong> {{ user.username }}
      </div>
      <div class="detail-item">
          <strong>Email:</strong> {{ user.email }}
      </div>
      <button mat-raised-button color="primary" (click)="openEditProfileDialog(user)">Edit personal info</button><br/>
      <button mat-raised-button color="primary" (click)="openChangePasswordDialog()">Change password</button>
  </div>
</div>
