.form-container {
  display: flex;
  justify-content: center;
  height: 100%; /* Adjust as needed */
}

.program-form {
  width: 80%; /* Adjust as needed */
  max-width: 600px; /* Adjust as needed */
}

.full-width {
  width: 100%;
}

.half-width {
  width: 48%; /* Adjust as needed */
  display: inline-block;
}

.attribute-checkbox-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  gap: 10px; 
  margin-bottom: 20px;
}

.attribute-checkbox {
  display: flex;
  align-items: center;
}

.submit-button-container {
  display: flex;
  justify-content: flex-end;
}

.button-container {
  margin-top: 20px; 
}