<div class="wrapper">
  <div *ngIf="program" class="program-details">
    <div class="program-info">
      <mat-card class="program-card">
        <mat-card-header style="width: 100%;">
          <div mat-card-avatar class="program-image" [style.background-image]="'url(' + images[0] + ')'"></div>
          <mat-card-title style="font-size: 36px">{{
            program.title
          }}</mat-card-title>
          <mat-card-subtitle style="font-size: 24px">{{
            program.categoryName
          }}</mat-card-subtitle>
          <div style="display: flex; flex-direction: column; margin-top: 5px; font-size: 16px; margin-left: auto; margin-right: 40px;">
          <button mat-raised-button
          *ngIf="!participates"
          color="primary" 
          (click)="openPaymentDialog()"
          >Participate</button>
          <button mat-raised-button
          color="primary" 
          (click)="openQuestionDialog()"
          style="margin-top: 20px;">Ask question</button>
        </div>
        </mat-card-header>
        <mat-card-content style="font-size: 20px">
          <app-image-carousel [images]="images"></app-image-carousel>

          <div style="margin-left: 10px;">
          <p>Description: {{ program.description }}</p>
          <p>Price: {{ program.price }}</p>
          <p>Duration: {{ program.duration }} days</p>
          <p>Difficulty: {{ program.difficulty }}</p>
          <p>Location: {{ program.location }}</p>
          <p>
            Instructor: {{ program.instructorName }}
            {{ program.instructorSurname }}
          </p>
          <p>Contact: {{ program.instructorContact }}</p>
          <p>Creation Date: {{ program.creationDate | date }}</p>
          <p>Attributes:</p>
          <ul>
            <li *ngFor="let attribute of program.attributes">
               {{ attribute.name }}
            </li>
          </ul>
        </div>

        <button *ngIf="participates && program.link" mat-raised-button color="primary" (click)="openLinkInNewTab()">Open Link</button>


          <div class="comments-section">
            <h3 style="margin-left: 10px;">Comments:</h3>
            <mat-card class="comment-card" *ngFor="let comment of comments">
              <mat-card-header>
                <div mat-card-avatar>
                  <img
                    style="width: 50px; height: 50px"
                    [src]=comment.avatar
                    alt="User Image"
                  />
                </div>
                <mat-card-title>{{ comment.username }}</mat-card-title>
                <mat-card-subtitle>{{ comment.date | date }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>{{ comment.content }}</p>
              </mat-card-content>
            </mat-card>

            <!-- Form to add a new comment -->
            <mat-card class="new-comment-card">
              <mat-card-content>
                <mat-form-field appearance="fill" style="width: 100%;">
                  <textarea
                    matInput
                    [(ngModel)]="newComment.content"
                    placeholder="Write a comment..."
                  ></textarea>
                </mat-form-field>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="addComment()"
                  style="margin-left: 10px; float: right;"
                >
                  Post
                </button>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>