
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .program-card {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .content-left {
    float: left;
    width: 70%; 
  }
  
  .content-right {
    float: right;
    width: 30%; 
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .content-right p {
    padding: 5px;
    background-color: #fff; 
    border: 1px solid #ccc;
  }
  