<div class="container">
    <div class="inbox">
        <div class="inbox-header">
            <h2><i class="fa-solid fa-message"></i> Inbox</h2>
            <button mat-raised-button style="margin-left: 10px;">New Message</button>
          </div>
      <ul>
        <li *ngFor="let user of users" 
            (click)="selectUser(user)"
            [class.selected]="user === activeUser">
            <img [src]="user.avatar" alt="Avatar" class="avatar"> 
          <span>{{ user.username }}</span>
        </li>
      </ul>
    </div>

    <div *ngIf="!activeUser" class="no-conversation">
        Chose a conversation for detailed overview of the messages.
    </div>

    <div class="chat" *ngIf="activeUser">
      <mat-card class="chat-container">
        <mat-card-content>
          <div class="message-container" #messageContainer>
            <div class="message" *ngFor="let message of messages">
              <div class="message-content">
                <div class="message-sender">{{ message.sender.username }}</div>
                <div>{{ message.content }}</div>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <mat-form-field appearance="fill" class="input-field">
            <textarea matInput [(ngModel)]="newMessage" placeholder="Type a message..."></textarea>
          </mat-form-field>
          <button mat-icon-button (click)="sendMessage()">
            <mat-icon>send</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  